body {
                font-family: Arial, Helvetica, sans-serif;
                color: #f0f0f0;
                background: #f0f0f0 url('../images/bg-radial-gradient.jpg') top left repeat-y;
                font-size: 14px;
                }